    <div class="card height-16">
        <div class="card-body no-padding scroll">
            <ul id="nav-graph" class="gui-{{ color }} nav nav-tabs" data-toggle="tabs">
              <li class="tab active"><a class="gui-{{ color }}" href="#graph-1">Course</a></li>
              <li class="tab"><a class="gui-{{ color }}" href="#graph-2">Instructor</a></li>
              <li class="tab"><a class="gui-{{ color }}" href="#graph-3">Instructors</a></li>
              <li class="tab"><a class="gui-{{ color }}" href="#graph-4">G4</a></li>
            </ul>
          <div class="tab-content style-default-bright">
              <div class="tab-pane active" id="graph-1">
                {% module chart_overtime(raw_data, [
                        'course_howmuchlearned_average',
                        'course_challenge_average',
                        'courseoverall_average',
                        'course_priorinterest_average'
                    ], 'graph-1-chart') %}
              </div>
              <div class="tab-pane" id="graph-2">
                {% module chart_overtime(raw_data, [
                      'instructor_effectiveness_average',
                      'instructor_respect_average',
                      'instructoroverall_average',
                      'instructor_availability_average'
                    ], 'graph-2-chart') %}
              </div>
          </div>
      </div>
  </div>
