<!-- BEGIN INSTRUCTOR INFO -->
	<div class="card instructor-stats-card">
		<div class="card-head style-{{ color }} text-center">
			<header>{{ raw_data.get('long_name', 'long_name missing').title() }}</header>
		</div><!--end .card-head -->
		<div class="card-body no-padding height-info scroll">
			<ul class="list divider-full-bleed">
				<li class="tile">
					<div class="tile-content">
						<div class="tile-text text-primary-dark .instructor-stats-card-department">Code: <a href="google.com" class="text-light">{{ raw_data.get('name', 'name missing') }}</a></div>
					</div>
				</li>
				<li class="tile">
					<div class="tile-content">	
						<div class="tile-text text-primary-dark">Campus: <a class="text-light">{{ convert_campus(raw_data.get('campus', 'campus missing')) }}</a></div>
					</div>
				</li>
				<li class="tile">
					<div class="tile-content">	
						<div class="tile-text text-primary-dark">College: <a class="text-light">{{ raw_data.get('college', 'college missing') }}</a></div>
					</div>
				</li>
				<li class="tile">
					<div class="tile-content">	
						<div class="tile-text text-primary-dark">Instructors: <a class="text-light">{{ len(raw_data.get('instructors', 'instructors missing')) }}</a></div>
					</div>
				</li>
				<li class="tile">
					<div class="tile-content">	
						<div class="tile-text text-primary-dark">Courses: <a class="text-light">{{ len(raw_data.get('courses', 'courses missing')) }}</a></div>
					</div>
				</li>
				<li class="tile">
					<div class="tile-content">	
						<div class="tile-text text-primary-dark">Last FCQ: <a class="text-light">{{ convert_date(raw_data.get('fcqs_yearterms', ['',''])[-1]) }}</a></div>
					</div>
				</li>
			</ul>
		</div><!--end .card-body -->
	</div><!--end .card -->
<!-- END INSTRUCTOR INFO -->
