    <div class="card height-16">
        <div class="card-body no-padding scroll">
            <ul id="nav-graph" class="gui-{{ color }} nav nav-tabs" data-toggle="tabs">
              <li class="tab active"><a class="gui-{{ color }}" href="#graph-1">Enrollment</a></li>
              <li class="tab"><a class="gui-{{ color }}" href="#graph-2">Grades</a></li>
              <li class="tab"><a class="gui-{{ color }}" href="#graph-3">Instructors</a></li>
              <li class="tab"><a class="gui-{{ color }}" href="#graph-4">G4</a></li>
            </ul>
          <div class="tab-content style-default-bright">
              <div class="tab-pane active" id="graph-1">
              </div>
              <div class="tab-pane" id="graph-2">
              </div>
          </div>
      </div>
  </div>
