<div class="card instructor-stats-card">
    <div class="card-head style-{{ color }} text-primary text-center">
      <header>Department Averages</header>
    </div>
    <div class="card-body no-padding height-stats scroll">
      <ul class="list divider-full-bleed">
        <li class="tile">
          <div class="tile-content">
            <div class="tile-text text-primary-dark .instructor-stats-card-department">Course Overall: <a class="text-light">{{noneCheck(raw_data['fcqs_stats']['courseoverall_average'])}} out of 6</a></div>
          </div>
        </li>
        <li class="tile">
          <div class="tile-content">
            <div class="tile-text text-primary-dark .instructor-stats-card-department">Instructor Overall: <a class="text-light">{{noneCheck(raw_data['fcqs_stats']['instructoroverall_average'])}} out of 6</a></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
