<!DOCTYPE html>
<html lang="en">
{% include standard/head.html%}

{% block content %}
<div class="menubar-hoverable header-fixed">
    <div id="base">
        <div id="content">
            <section>
            <div class="section-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-head text-primary text-center">
                                <h2 class="fa-5x">
                                        About Us
                                </h2>
                            </div>
                            <div class="card-body text-primary-dark">
                                We're three seniors looking to graduate from CU Boulder this year that saw an outstanding problem with the school's information about it's courses. The data was messy and the visualizations were poor and so while you could look you weren't likely to learn anything about classes you're considering spending thousands of dollars on. We wanted to clean the data and portray it in a friendly way to everyone as a powerful tool in gathering information on the courses at CU. 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-head text-primary text-center">
                                <h2 class="fa-5x">
                                        Alex Tsankov
                                </h2>
                            </div>
                            <div class="card-body text-primary-dark">
                                <div class="text-center">
                                    <a href="https://github.com/antsankov">
                                        <button type="button" class="btn btn-lg ink-reaction btn-raised btn-primary">
                                            Github
                                        </button>
                                    </a>
                                    <a href="https://antsankov.github.io">
                                        <button type="button" class="btn btn-lg ink-reaction btn-raised btn-primary">
                                            Website
                                        </button>
                                    </a>
                                </div>    
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-head text-primary text-center">
                                <h2 class="fa-5x">
                                        Brady Auen
                                </h2>
                            </div>
                            <div class="card-body text-primary-dark">
                                <div class="text-center">
                                    <a href="https://github.com/Bradyta">
                                        <button type="button" class="btn btn-lg ink-reaction btn-raised btn-primary">
                                            Github
                                        </button>
                                    </a>
                                    <a href="https://Bradyta.github.io">
                                        <button type="button" class="btn btn-lg ink-reaction btn-raised btn-primary">
                                            Website
                                        </button>
                                    </a>
                                </div>    
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-head text-primary text-center">
                                <h2 class="fa-5x">
                                        Samuel Volin
                                </h2>
                            </div>
                            <div class="card-body text-primary-dark">
                                <div class="text-center">
                                    <a href="https://github.com/untra">
                                        <button type="button" class="btn btn-lg ink-reaction btn-raised btn-primary">
                                            Github
                                        </button>
                                    </a>
                                    <a href="https://untra.github.io">
                                        <button type="button" class="btn btn-lg ink-reaction btn-raised btn-primary">
                                            Website
                                        </button>
                                    </a>
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </section>
        </div>
    </div>
{% end %}
{% include standard/body.html %}
</div>
</html>
