<!DOCTYPE html>
<html lang="en">
{% include standard/head.html %}

{% block content %}
  <div id="base">
    <div id="content">
      <section>
        <div class="section-body">
          <div class="row">
            {% include course/CourseInfo.html %}
            {% module chart_overtime("Course Statistics", color, linechart_data) %}
          </div>
          <div class="row">
            {% include course/CourseStats.html %}
            {% module fcq_card(course_fcqs,color) %}
          </div>
        </div>
      </section>
    </div>
  </div>
{% end %}
{% include standard/body.html %}
</html>
