<!DOCTYPE html>
<html lang="en">
{% include standard/head.html %}

{% block content %}
  <div id="base">
    <div id="content">
      <section>
        <div class="section-body">
          <div class="row">
            {% include course/CourseInfo.html %}
            {% set header = "Course Statistics" %}
            {% set keys = [
              'course_howmuchlearned_average',
              'course_challenge_average',
              'courseoverall_average',
              'course_priorinterest_average'
                ] %}
            {% include card/linechart.html %}
          </div>
          <div class="row">
            {% include course/CourseStats.html %}
            {% module fcq_card(raw_data.get('fcqs',[]),color) %}
          </div>
        </div>
      </section>
    </div>
  </div>
{% end %}
{% include standard/body.html %}
</html>
