<!DOCTYPE html>
<html lang="en">
{% include standard/head.html %}

{% block content %}
<body class="menubar-hoverable header-fixed ">
	{% include standard/body/header.html %}
	<!-- BEGIN BASE-->
	<div id="base">
		<!-- BEGIN CONTENT-->
		<div id="content">
			<section>
				<div class="section-body">
					<div class="row">
						{% include instructor/InstructorStats.html %}
						{% include instructor/InstructorData.html %}
					</div><!--end .row -->

					<div class="row">
						{% include instructor/alerts/Overall.html %}
						{% include instructor/alerts/Availability.html %}
						{% include instructor/alerts/Respect.html %}
						{% include instructor/alerts/Effectiveness.html %}
					</div><!--end .row -->
					<div class="row">
						{% include instructor/DepartmentStats.html %}
						{% include instructor/Fcqs.html %}
					</div><!--end .row -->
				</div><!--end .section-body -->
			</section>
		</div><!--end #content-->
		<!-- END CONTENT -->
    {% include standard/body/OffCanvasRight.html %}
	</div><!--end #base-->
	<!-- END BASE -->
{% end %}
{% include standard/body.html %}
</body>
</html>