<!DOCTYPE html>
<html lang="en">
{% include standard/head.html %}

{% block content %}
<div class="menubar-hoverable header-fixed ">
  <div id="base">
    <div id="content">
      <section>
        <div class="section-body">
          <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-head style-primary text-center">
                        404
                    </div>
                    <div class="card-body no-padding">
                        <div>
                            Page Not Found
                        </div>
                        <div>
                            <button class="btn btn-lg ink-reaction btn-raised btn-primary" onClick="goBack()">
                                Back
                            </button>
                            <script>
                                function goBack() {
                                    window.history.back();
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
{% end %}
{% include standard/body.html %}
</div>
</html>
