<!-- BEGIN department INFO -->
<div class="col-md-3">
	<div class="card department-stats-card">
		<div class="card-head text-primary text-center">
			<h2>{{ department_info.get('name')}}</h2>
		</div><!--end .card-head -->
		<div class="card-body no-padding height-8 scroll">
			<ul class="list divider-full-bleed">
				<li class="tile">
					<div class="tile-content">
						<div class="tile-text text-primary-dark .department-stats-card-department">Undergrad Students: <a href="google.com" class="text-light">{{ department_info.get('num_ugrads') }}</a></div>
					</div>
				</li>
				<li class="tile">
					<div class="tile-content">	
						<div class="tile-text text-primary-dark">Graduate Students: <a class="text-light">{{ department_info.get('num_grads') }}</a></div>
					</div>
				</li>
				<li class="tile">
					<div class="tile-content">	
						<div class="tile-text text-primary-dark">Courses: <a class="text-light">{{ department_info.get('num_courses') }}</a></div>
					</div>
				</li>
				<li class="tile">
					<div class="tile-content">	
						<div class="tile-text text-primary-dark">Instructors: <a class="text-light">{{ department_info.get('num_instructors') }}</a></div>
					</div>
				</li>
				<li class="tile">
					<div class="tile-content">	
						<div class="tile-text text-primary-dark">First FCQ: <a class="text-light">{{ department_info.get('first_fcq') }}</a></div>
					</div>
				</li>
				<li class="tile">
					<div class="tile-content">	
						<div class="tile-text text-primary-dark">Average Worklaod: <a class="text-light">{{ department_info.get('average_workload') }}</a></div>
					</div>
				</li>
			</ul>
		</div><!--end .card-body -->
	</div><!--end .card -->
</div><!--end .col -->
<!-- END department INFO -->