<!-- BEGIN FCQs -->
	<div class="col-md-9">
		<div class="panel-group" id="fcqs">
			<!-- # Print out the first seven fcqs -->
			{% for i in range(0,7) %}
				{% if i < len(instructor_fcqs) %}
				<div class ="card panel">
					{% include fcq.html %}
				</div>
				{% end %}
			{% end %}
			<!-- # if we have more than 7, create the extra box. -->
			{% if 7 < len(instructor_fcqs) %}
			<div class="card panel">
				<div class="card-head card-head-sm " data-toggle="collapse" data-parent="#creator" data-target="#creator1" aria-expanded="false">
						<header>More FCQs</header>
						<div class="tools">
							<a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
						</div>
				</div>
				<div id="creator1" class="collapse" aria-expanded="false" style="height: 0px;">
				{% for i in range(7,len(instructor_fcqs)) %}
					<div class="panel">
						{% include fcq.html %}
					</div><!--end .panel -->
				{% end %}
				</div>
			</div>
			{% end %}
		</div>		
	</div><!--end .col -->
<!-- END FCQS -->