<!-- BEGIN FCQs -->
	<div class="col-md-9">
		<div class="panel-group" id="fcqs">
			<div class = "card panel">
				<div class="card-head card-head-sm collapsed" data-toggle="collapse" data-parent="#fcqs" data-target="#accordion0-0" aria-expanded="false">
					<header>{{instructor_fcqs[0].get('course_number')}}</header>
					<div class="tools">
						<a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
					</div>
				</div>
				<div id="accordion0-0" class="collapse" aria-expanded="false" style="height: 0px;">
					<div class="card-body">
						<p>{{instructor_fcqs[0].get('campus')}}</p>
					</div>
				</div>
			</div>
			{% for i in range(1,5) %}
				<div class ="card panel">
					<div class="card-head card-head-sm collapsed" data-toggle="collapse" data-parent="#accordion{{i}}" data-target="#accordion{{str(i) + '-' + str(i)}}" aria-expanded="false">
							<header>{{instructor_fcqs[i].get('course_number')}}</header>
							<div class="tools">
								<a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
							</div>
					</div>
					<div id="accordion{{str(i) + '-' + str(i)}}" class="collapse" aria-expanded="false" style="height: 0px;">
						<div class="card-body"><p>{{instructor_fcqs[i].get('campus')}}</p>
							</div>
					</div>
				</div>
			{% end %}
			<div class="card panel">
				<div class="card-head card-head-sm " data-toggle="collapse" data-parent="#creator" data-target="#creator1" aria-expanded="false">
						<header>More FCQs</header>
						<div class="tools">
							<a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
						</div>
				</div>
				<div id="creator1" class="collapse" aria-expanded="false" style="height: 0px;">
				{% for i in range(5,len(instructor_fcqs)) %}
					<div class="card panel">
						<div class="card-head card-head-sm collapsed" data-toggle="collapse" data-parent="#accordion{{i}}" data-target="#accordion{{str(i) + '-' + str(i)}}" aria-expanded="false">
							<header>{{instructor_fcqs[i].get('course_number')}}</header>
							<div class="tools">
								<a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
							</div>
						</div>
						<div id="accordion{{str(i) + '-' + str(i)}}" class="collapse" aria-expanded="false" style="height: 0px;">
							<div class="card-body"><p>{{instructor_fcqs[i].get('campus')}}</p>
							</div>
						</div>
					</div><!--end .panel -->
				{% end %}
				</div>
			</div>
		</div>		
	</div><!--end .col -->
<!-- END FCQS -->