<!-- BEGIN INSTRUCTOR INFO -->
<div class="col-md-3">
  <div class="card instructor-stats-card">
    <div class="card-head style-primary text-primary text-center">
      <header>Instructor Averages</header>
    </div><!--end .card-head -->
    <div class="card-body no-padding height-stats scroll">
      <ul class="list divider-full-bleed">
        <li class="tile">
          <div class="tile-content">
            <div class="tile-text text-primary-dark .instructor-stats-card-department">Overall Score: <a class="text-light">{{i_overall = instructor_stats.get("overall")}} out of 6</a></div>
          </div>
        </li>
        <li class="tile">
          <div class="tile-content">  
            <div class="tile-text text-primary-dark .instructor-stats-card-department">Effectiveness: <a class="text-light">{{i_eff = instructor_stats.get("effectiveness")}} out of 6</a></div>
          </div>
        </li>
        <li class="tile">
          <div class="tile-content">  
            <div class="tile-text text-primary-dark .instructor-stats-card-department">Availability: <a class="text-light">{{i_average = instructor_stats.get("availability")}} out of 6</a></div>
          </div>
        </li>
        <li class="tile">
          <div class="tile-content">  
            <div class="tile-text text-primary-dark .instructor-stats-card-department">Respect Score: <a class="text-light">{{i_respect = instructor_stats.get("respect")}} out of6</a></div>
          </div>
        </li>
      </ul>
    </div><!--end .card-body -->
  </div><!--end .card -->
</div><!--end .col -->
<!-- END INSTRUCTOR INFO -->
