<!-- BEGIN INSTRUCTOR DATA -->
<div class="col-md-9">
	<div class="card ">
		<div class="row">
			<div class="col-md-8">
				<div class="card-head">
					<header>Instructor Data</header>
				</div><!--end .card-head -->
				<div class="card-body height-8">
					<div id="flot-visitors-legend" class="flot-legend-horizontal stick-top-right no-y-padding"></div>
					<div id="flot-visitors" class="flot height-7" data-title="Activity entry" data-color="#7dd8d2,#0aa89e"></div>
				</div><!--end .card-body -->
			</div><!--end .col -->
			<div class="col-md-4">
				<div class="card-head">
					<header>Instrctor stats</header>
				</div>
				<div class="card-body height-8">
					<strong>214</strong> members
					<span class="pull-right text-success text-sm">0,18% <i class="md md-trending-up"></i></span>
					<div class="progress progress-hairline">
						<div class="progress-bar progress-bar-primary-dark" style="width:43%"></div>
					</div>
					756 pageviews
					<span class="pull-right text-success text-sm">0,68% <i class="md md-trending-up"></i></span>
					<div class="progress progress-hairline">
						<div class="progress-bar progress-bar-primary-dark" style="width:11%"></div>
					</div>
					291 bounce rates
					<span class="pull-right text-danger text-sm">21,08% <i class="md md-trending-down"></i></span>
					<div class="progress progress-hairline">
						<div class="progress-bar progress-bar-danger" style="width:93%"></div>
					</div>
					32,301 visits
					<span class="pull-right text-success text-sm">0,18% <i class="md md-trending-up"></i></span>
					<div class="progress progress-hairline">
						<div class="progress-bar progress-bar-primary-dark" style="width:63%"></div>
					</div>
					132 pages
					<span class="pull-right text-success text-sm">0,18% <i class="md md-trending-up"></i></span>
					<div class="progress progress-hairline">
						<div class="progress-bar progress-bar-primary-dark" style="width:47%"></div>
					</div>
				</div><!--end .card-body -->
			</div><!--end .col -->
		</div><!--end .row -->
	</div><!--end .card -->
</div><!--end .col -->
<!-- END INSTRUCTOR DATA -->