<!-- BEGIN INSTRUCTOR STATS -->
<div class="col-md-3">
	<div class="card">
		<div class="card-head text-primary text-center">
			<h2>John Black</h2	>
		</div><!--end .card-head -->
		<div class="card-body no-padding height-8 scroll">
			<ul class="list divider-full-bleed">
				<li class="tile">
					<div class="tile-content">
						<div class="tile-text text-primary-dark">Department: <a style="text-decoration:underline"href="google.com" class="text-light">Computer Science</a></div>
					</div>
				</li>
				<li class="tile">
					<div class="tile-content">	
						<div class="tile-text text-primary-dark">Instructor Type: <a class="text-light">TTT</a></div>
					</div>
				</li>
				<li class="tile">
					<div class="tile-content">	
						<div class="tile-text text-primary-dark">Sections Taught: <a class="text-light">15</a></div>
					</div>
				</li>
				<li class="tile">
					<div class="tile-content">	
						<div class="tile-text text-primary-dark">Courses Taught: <a class="text-light">15</a></div>
					</div>
				</li>
				<li class="tile">
					<div class="tile-content">	
						<div class="tile-text text-primary-dark">Last FCQ: <a class="text-light">Spring 2015</a></div>
					</div>
				</li>
				<li class="tile">
					<div class="tile-content">	
						<div class="tile-text text-primary-dark">First FCQ: <a class="text-light">Spring 2015</a></div>
					</div>
				</li>
			</ul>
		</div><!--end .card-body -->
	</div><!--end .card -->
</div><!--end .col -->
<!-- END INSTRUCTOR STATS -->