<!-- BEGIN INSTRUCTOR INFO -->
<div class="col-md-3">
	<div class="card instructor-stats-card">
		<div class="card-head style-primary text-center">
			<header>{{ instructor_info.get('first_name') }} {{ instructor_info.get('last_name') }}</header>
		</div><!--end .card-head -->
		<div class="card-body no-padding height-8 scroll">
			<ul class="list divider-full-bleed">
				<li class="tile">
					<div class="tile-content">
						<div class="tile-text text-primary-dark .instructor-stats-card-department">Department: <a href="/department/{{instructor_info.get('department').lower()}}" class="text-light">{{ instructor_info.get('department') }}</a></div>
					</div>
				</li>
				<li class="tile">
					<div class="tile-content">	
						<div class="tile-text text-primary-dark">Instructor Type: <a class="text-light">{{ instructor_info.get('type') }}</a></div>
					</div>
				</li>
				<li class="tile">
					<div class="tile-content">	
						<div class="tile-text text-primary-dark">Sections Taught: <a class="text-light">{{ instructor_info.get('sections') }}</a></div>
					</div>
				</li>
				<li class="tile">
					<div class="tile-content">	
						<div class="tile-text text-primary-dark">Courses Taught: <a class="text-light">{{ instructor_info.get('courses') }}</a></div>
					</div>
				</li>
				<li class="tile">
					<div class="tile-content">	
						<div class="tile-text text-primary-dark">Last FCQ: <a class="text-light">{{ instructor_info.get('last_fcq') }}</a></div>
					</div>
				</li>
				<li class="tile">
					<div class="tile-content">	
						<div class="tile-text text-primary-dark">First FCQ: <a class="text-light">{{ instructor_info.get('first_fcq') }}</a></div>
					</div>
				</li>
			</ul>
		</div><!--end .card-body -->
	</div><!--end .card -->
</div><!--end .col -->
<!-- END INSTRUCTOR INFO -->
