<!-- BEGIN ALERT - Effectiveness -->
<div class="col-md-3 col-sm-6">
	<div class="card">
		<div class="card-body no-padding">
			<div class="alert alert-callout alert-warning no-margin">
				<strong class="pull-right text-warning text-lg">0,01% <i class="md md-swap-vert"></i></strong>
				<strong class="text-xl">3.2</strong><br/>
				<span class="opacity-50">Effectiveness</span>
				<div class="stick-bottom-right">
					<div class="height-1 sparkline-visits" data-bar-color="#e5e6e6"></div>
				</div>
			</div>
		</div><!--end .card-body -->
	</div><!--end .card -->
</div><!--end .col -->
<!-- END ALERT - Effectiveness -->