<!-- BEGIN ALERT - OVERALL -->
<div class="col-md-3 col-sm-6">
	<div class="card">
		<div class="card-body no-padding">
			<div class="alert alert-callout alert-info no-margin">
				<strong class="pull-right text-success text-lg">0,38% <i class="md md-trending-up"></i></strong>
				<strong class="text-xl">5.6</strong><br/>
				<span class="opacity-50">Overall</span>
				<div class="stick-bottom-left-right">
					<div class="height-2 sparkline-revenue" data-line-color="#bdc1c1"></div>
				</div>
			</div>
		</div><!--end .card-body -->
	</div><!--end .card -->
</div><!--end .col -->
<!-- END ALERT - OVERALL -->