<head>
  {% include head/meta.html %}
  <title>{% block title %}CUFCQv2{% end %}</title>
  {% include head/localization.html %}
  {% include head/socialmedia.html %}
  {% include head/stylesheets.html %}

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script type="text/javascript" src="/static/js/libs/utils/html5shiv.js?1403934957"></script>
	<script type="text/javascript" src="/static/js/libs/utils/respond.min.js?1403934956"></script>
	<![endif]-->
</head>
