<!-- BEGIN course INFO -->
<div class="col-md-3">
	<div class="card course-stats-card">
		<div class="card-head style-{{ color }} text-center">
			<header>{{ raw_data.get('course_title', 'missing course_title') }}</header>
		</div><!--end .card-head -->
		<div class="card-body no-padding height-8 scroll">
			<ul class="list divider-full-bleed">
				<li class="tile">
					<div class="tile-content">
						<div class="tile-text text-primary-dark .course-stats-card-department">Course Code: <a href="google.com" class="text-light">{{ raw_data.get('id', 'missing id') }}</a></div>
					</div>
				</li>
				<li class="tile">
					<div class="tile-content">	
						<div class="tile-text text-primary-dark">Campus: <a class="text-light">{{ convert_campus(raw_data.get('campus', 'missing campus')) }}</a></div>
					</div>
				</li>
				<li class="tile">
					<div class="tile-content">	
						<div class="tile-text text-primary-dark">Department: <a class="text-light">{{ raw_data.get('department_id', 'missing department_id') }}</a></div>
					</div>
				</li>
				<li class="tile">
					<div class="tile-content">	
						<div class="tile-text text-primary-dark">Subject: <a class="text-light">{{ raw_data.get('course_subject', 'missing course_subject') }}</a></div>
					</div>
				</li>
				<li class="tile">
					<div class="tile-content">	
						<div class="tile-text text-primary-dark">Sections: <a class="text-light">{{ len(raw_data.get('fcqs', '')) }}</a></div>
					</div>
				</li>
				<li class="tile">
					<div class="tile-content">	
						<div class="tile-text text-primary-dark">Instructors: <a class="text-light">{{ raw_data.get('fcqs_stats', {}).get('total_instructors', 'missing total_instructors or fcqs_stats') }}</a></div>
					</div>
				</li>
			</ul>
		</div><!--end .card-body -->
	</div><!--end .card -->
</div><!--end .col -->
<!-- END course INFO -->
