<div class="col-md-3">
  <div class="card instructor-stats-card">
    <div class="card-head style-orange text-primary text-center">
      <header>Course Averages</header>
    </div>
    <div class="card-body no-padding scroll">
      <ul class="list divider-full-bleed">
        <li class="tile">
          <div class="tile-content">
            <div class="tile-text text-primary-dark .instructor-stats-card-department">Overall Score: <a class="text-light">{{noneCheck(raw_data['fcqs_stats']['courseoverall_average'])}} out of 6</a></div>
          </div>
        </li>
        <li class="tile">
          <div class="tile-content">
            <div class="tile-text text-primary-dark .instructor-stats-card-department">Challenge: <a class="text-light">{{noneCheck(raw_data['fcqs_stats']['course_challenge_average'])}} out of 6</a></div>
          </div>
        </li>
        <li class="tile">
          <div class="tile-content">
            <div class="tile-text text-primary-dark .instructor-stats-card-department">Amount Learned: <a class="text-light">{{noneCheck(raw_data['fcqs_stats']['course_howmuchlearned_average'])}} out of 6</a></div>
          </div>
        </li>
        <li class="tile">
          <div class="tile-content">
            <div class="tile-text text-primary-dark .instructor-stats-card-department">Prior Interest: <a class="text-light">{{noneCheck(raw_data['fcqs_stats']['course_priorinterest_average'])}} out of 6</a></div>
          </div>
        </li>
        <li class="tile">
          <div class="tile-content">
            <div class="tile-text text-primary-dark .instructor-stats-card-department">Workload: <a class="text-light">{{raw_data.get('hours_per_week_in_class_string', 0) }} hrs/week</a></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
