<!-- BEGIN ALERT - Availablity -->
<div class="col-md-3 col-sm-6">
	<div class="card">
		<div class="card-body no-padding">
			<div class="alert alert-callout alert-danger no-margin">
				<strong class="pull-right text-danger text-lg">0,18% <i class="md md-trending-down"></i></strong>
				<strong class="text-xl">4.4</strong><br/>
				<span class="opacity-50">Availability</span>
				<div class="stick-bottom-left-right">
					<div class="progress progress-hairline no-margin">
						<div class="progress-bar progress-bar-danger" style="width:43%"></div>
					</div>
				</div>
			</div>
		</div><!--end .card-body -->
	</div><!--end .card -->
</div><!--end .col -->
<!-- END ALERT - Availability -->