<div class="col-md-9">
  <div class="panel-group" id="fcqs">
    <div class="style-{{ color }} card panel">
      <div id="fcq-header"class="card-head text-center">
        <header> Sections <header>
      </div>
    </div>
  {% for fcq_id in chunks.pop(0) %}
    <div class="card panel">
      {% include fcqcard.html %}
    </div>
  {% end %}
  {% for i in range (0, len(chunks)) %}
  <div class="card panel">
    <div class="card-head card-head-sm collapsed" data-toggle="collapse" data-parent="#creator" data-target="#creator-{{i}}" aria-expanded="false">
        <header class="text-primary-dark">{{ convert_date(chunks[i][-1].split('-')[1])}} - {{ convert_date(chunks[i][0].split('-')[1])}}</header>
        <div class="tools">
          <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
        </div>
    </div>
    <div id="creator-{{i}}" class="collapse" aria-expanded="false" style="height: 0px;">
    {% for fcq_id in chunks[i] %}
      <div class="panel">
        {% include fcqcard.html %}
      </div>
    {% end %}
    </div>
  </div>
  {% end %}
  </div>
</div>
