<div id="card-{{ fcq_id }}" class="card-head card-head-sm collapsed" data-toggle="collapse" data-parent="#{{ fcq_id }}" data-target="#{{ fcq_id }}" aria-expanded="false">
    <header class="text-light">{{fcq_title(fcq_id)}}</header>
    <div class="tools">
        <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
    </div>
</div>
<div id="{{ fcq_id }}" class="collapse" aria-expanded="false" style="height: 0px;">
  <div id="body-{{ fcq_id }}" class="card-body fcq-card-body"><p><i>loading...</i></p>
  </div>
</div>
