<div class="card height-16">
    <div class="card-body no-padding scroll">
        <ul id="graph-nav" class="gui-{{ color }} nav nav-tabs" data-toggle="tabs">
          <li id="gnav-0-tab" class="tab active"><a class="gui-{{ color }}" href="#gnav-0">Course Stats</a></li>
          <li id="gnav-1-tab" class="tab"><a class="gui-{{ color }}" href="#gnav-1">Instructor Stats</a></li>
          <li id="gnav-2-tab" class="tab"><a class="gui-{{ color }}" href="#gnav-2">Instructors Overall</a></li>
          <li id="gnav-3-tab" class="tab"><a class="gui-{{ color }}" href="#gnav-3">Courses Overall</a></li>
          <li id="gnav-4-tab" class="tab"><a class="gui-{{ color }}" href="#gnav-4">Grades Overtime</a></li>
        </ul>
      <div class="tab-content style-default-bright">
          <div class="tab-pane active height-14" id="gnav-0">
            <canvas id="chart-0" width="auto" height="auto">
            </canvas>
          </div>
          <div class="tab-pane height-14" id="gnav-1">
            <canvas id="chart-1" width="auto" height="auto">
            </canvas>
          </div>
          <div class="tab-pane height-14" id="gnav-2">
            <canvas id="chart-2" width="auto" height="auto">
            </canvas>
          </div>
          <div class="tab-pane height-14" id="gnav-3">
            <canvas id="chart-3" width="auto" height="auto">
            </canvas>
          </div>
          <div class="tab-pane height-14" id="gnav-4">
            <canvas id="chart-4" width="auto" height="auto">
            </canvas>
          </div>
      </div>
  </div>
</div>
