<!DOCTYPE html>
<html lang="en">
<head>
	<title>CUFCQv2</title>

	<!-- BEGIN META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="your,keywords">
	<meta name="description" content="Short explanation about this website">
	<!-- END META -->

	<!-- BEGIN STYLESHEETS -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'/>
	<link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css" />
	<link type="text/css" rel="stylesheet" href="/static/css/materialadmin.css?1425466319" />
	<link type="text/css" rel="stylesheet" href="/static/css/font-awesome.min.css?1422529194" />
	<link type="text/css" rel="stylesheet" href="/static/css/material-design-iconic-font.min.css?1421434286" />
	<link type="text/css" rel="stylesheet" href="/static/css/libs/morris/morris.core.css?1420463396" />
	<!-- END STYLESHEETS -->

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script type="text/javascript" src="/static/js/libs/utils/html5shiv.js?1403934957"></script>
		<script type="text/javascript" src="/static/js/libs/utils/respond.min.js?1403934956"></script>
		<![endif]-->
	</head>
	<body class="menubar-hoverable header-fixed ">
		<!-- BEGIN HEADER-->
		<header id="header" >
			<div class="headerbar">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="headerbar-left">
					<ul class="header-nav header-nav-options">
						<li class="header-nav-brand" >
							<div class="brand-holder">
								<a href="../../html/dashboards/dashboard.html">
									<span class="text-lg text-bold text-primary">CU FCQ</span>
								</a>
							</div>
						</li>
						<li>
							<a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
								<i class="fa fa-bars"></i>
							</a>
						</li>
					</ul>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="headerbar-right">
					<ul class="header-nav header-nav-options">
						<li>
							<!-- Search form -->
							<form class="navbar-search" role="search">
								<div class="form-group">
									<input type="text" class="form-control" name="headerSearch" placeholder="Enter your keyword">
								</div>
								<button type="submit" class="btn btn-icon-toggle ink-reaction"><i class="fa fa-search"></i></button>
							</form>
						</li>
					</ul><!--end .header-nav-options -->
					<ul class="header-nav header-nav-toggle">
						<li>
							<a class="btn btn-icon-toggle btn-default" href="#offcanvas-search" data-toggle="offcanvas" data-backdrop="false">
								<i class="fa fa-ellipsis-v"></i>
							</a>
						</li>
					</ul><!--end .header-nav-toggle -->
				</div><!--end #header-navbar-collapse -->
			</div>
		</header>
		<!-- END HEADER-->

		<!-- BEGIN BASE-->
		<div id="base">

			<!-- BEGIN OFFCANVAS LEFT -->
			<div class="offcanvas">
			</div><!--end .offcanvas-->
			<!-- END OFFCANVAS LEFT -->

			<!-- BEGIN CONTENT-->
			<div id="content">
				<section>
					<div class="section-body">
						<div class="row">
						<!-- BEGIN INSTRUCTOR STATS -->
							<div class="col-md-3">
								<div class="card">
									<div class="card-head text-primary text-center">
										<h2>John Black</h2	>
									</div><!--end .card-head -->
									<div class="card-body no-padding height-8 scroll">
										<ul class="list divider-full-bleed">
											<li class="tile">
												<div class="tile-content">
													<div class="tile-text text-primary-dark">Department: <a style="text-decoration:underline"href="google.com" class="text-light">Computer Science</a></div>
												</div>
											</li>
											<li class="tile">
												<div class="tile-content">	
													<div class="tile-text text-primary-dark">Instructor Type: <a class="text-light">TTT</a></div>
												</div>
											</li>
											<li class="tile">
												<div class="tile-content">	
													<div class="tile-text text-primary-dark">Sections Taught: <a class="text-light">15</a></div>
												</div>
											</li>
											<li class="tile">
												<div class="tile-content">	
													<div class="tile-text text-primary-dark">Courses Taught: <a class="text-light">15</a></div>
												</div>
											</li>
											<li class="tile">
												<div class="tile-content">	
													<div class="tile-text text-primary-dark">Last FCQ: <a class="text-light">Spring 2015</a></div>
												</div>
											</li>
											<li class="tile">
												<div class="tile-content">	
													<div class="tile-text text-primary-dark">First FCQ: <a class="text-light">Spring 2015</a></div>
												</div>
											</li>
										</ul>
									</div><!--end .card-body -->
								</div><!--end .card -->
							</div><!--end .col -->
							<!-- END INSTRUCTOR STATS -->
							<!-- BEGIN INSTRUCTOR DATA -->
							<div class="col-md-9">
								<div class="card ">
									<div class="row">
										<div class="col-md-8">
											<div class="card-head">
												<header>Instructor Data</header>
											</div><!--end .card-head -->
											<div class="card-body height-8">
												<div id="flot-visitors-legend" class="flot-legend-horizontal stick-top-right no-y-padding"></div>
												<div id="flot-visitors" class="flot height-7" data-title="Activity entry" data-color="#7dd8d2,#0aa89e"></div>
											</div><!--end .card-body -->
										</div><!--end .col -->
										<div class="col-md-4">
											<div class="card-head">
												<header>Instrctor stats</header>
											</div>
											<div class="card-body height-8">
												<strong>214</strong> members
												<span class="pull-right text-success text-sm">0,18% <i class="md md-trending-up"></i></span>
												<div class="progress progress-hairline">
													<div class="progress-bar progress-bar-primary-dark" style="width:43%"></div>
												</div>
												756 pageviews
												<span class="pull-right text-success text-sm">0,68% <i class="md md-trending-up"></i></span>
												<div class="progress progress-hairline">
													<div class="progress-bar progress-bar-primary-dark" style="width:11%"></div>
												</div>
												291 bounce rates
												<span class="pull-right text-danger text-sm">21,08% <i class="md md-trending-down"></i></span>
												<div class="progress progress-hairline">
													<div class="progress-bar progress-bar-danger" style="width:93%"></div>
												</div>
												32,301 visits
												<span class="pull-right text-success text-sm">0,18% <i class="md md-trending-up"></i></span>
												<div class="progress progress-hairline">
													<div class="progress-bar progress-bar-primary-dark" style="width:63%"></div>
												</div>
												132 pages
												<span class="pull-right text-success text-sm">0,18% <i class="md md-trending-up"></i></span>
												<div class="progress progress-hairline">
													<div class="progress-bar progress-bar-primary-dark" style="width:47%"></div>
												</div>
											</div><!--end .card-body -->
										</div><!--end .col -->
									</div><!--end .row -->
								</div><!--end .card -->
							</div><!--end .col -->
							<!-- END INSTRUCTOR DATA -->
						</div><!--end .row -->

						<div class="row">
							<!-- BEGIN ALERT - OVERALL -->
							<div class="col-md-3 col-sm-6">
								<div class="card">
									<div class="card-body no-padding">
										<div class="alert alert-callout alert-info no-margin">
											<strong class="pull-right text-success text-lg">0,38% <i class="md md-trending-up"></i></strong>
											<strong class="text-xl">5.6</strong><br/>
											<span class="opacity-50">Overall</span>
											<div class="stick-bottom-left-right">
												<div class="height-2 sparkline-revenue" data-line-color="#bdc1c1"></div>
											</div>
										</div>
									</div><!--end .card-body -->
								</div><!--end .card -->
							</div><!--end .col -->
							<!-- END ALERT - OVERALL -->

							<!-- BEGIN ALERT - Effectiveness -->
							<div class="col-md-3 col-sm-6">
								<div class="card">
									<div class="card-body no-padding">
										<div class="alert alert-callout alert-warning no-margin">
											<strong class="pull-right text-warning text-lg">0,01% <i class="md md-swap-vert"></i></strong>
											<strong class="text-xl">3.2</strong><br/>
											<span class="opacity-50">Effectiveness</span>
											<div class="stick-bottom-right">
												<div class="height-1 sparkline-visits" data-bar-color="#e5e6e6"></div>
											</div>
										</div>
									</div><!--end .card-body -->
								</div><!--end .card -->
							</div><!--end .col -->
							<!-- END ALERT - Effectiveness -->

							<!-- BEGIN ALERT - Availablity -->
							<div class="col-md-3 col-sm-6">
								<div class="card">
									<div class="card-body no-padding">
										<div class="alert alert-callout alert-danger no-margin">
											<strong class="pull-right text-danger text-lg">0,18% <i class="md md-trending-down"></i></strong>
											<strong class="text-xl">4.4</strong><br/>
											<span class="opacity-50">Availability</span>
											<div class="stick-bottom-left-right">
												<div class="progress progress-hairline no-margin">
													<div class="progress-bar progress-bar-danger" style="width:43%"></div>
												</div>
											</div>
										</div>
									</div><!--end .card-body -->
								</div><!--end .card -->
							</div><!--end .col -->
							<!-- END ALERT - Availability -->

							<!-- BEGIN ALERT - Respect -->
							<div class="col-md-3 col-sm-6">
								<div class="card">
									<div class="card-body no-padding">
										<div class="alert alert-callout alert-success no-margin">
											<h1 class="pull-right text-success"><i class="md md-timer"></i></h1>
											<strong class="text-xl">6.0</strong><br/>
											<span class="opacity-50">Respect</span>
										</div>
									</div><!--end .card-body -->
								</div><!--end .card -->
							</div><!--end .col -->
							<!-- END ALERT - Respect -->

						</div><!--end .row -->
						<div class="row">
							<!-- BEGIN DepartmentStats -->
							<div class="col-md-3">
								<div class="card ">
									<div class="card-head">
										<header>Computer Science</header>
										<div class="tools">
											<a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
										</div>
									</div><!--end .card-head -->
									<div class="card-body no-padding height-9 scroll">
									</div><!--end .card-body -->
								</div><!--end .card -->
							</div><!--end .col -->
							<!-- END DepartmentStats -->

							<!-- BEGIN FCQs -->
							<div class="col-md-9">
									<div class="panel-group" id="accordion1">
									<div class="card panel">
										<div class="card-head card-head-sm collapsed" data-toggle="collapse" data-parent="#accordion1" data-target="#accordion1-1" aria-expanded="false">
											<header>Spring 2015 ACCT 3220-2 Corporate Financial Reporting 1</header>
											<div class="tools">
												<a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
											</div>
										</div>
										<div id="accordion1-1" class="collapse" aria-expanded="false" style="height: 0px;">
											<div class="card-body"><p>Per at postea mediocritatem, vim numquam aliquid eu, in nam sale gubergren. Fuisset delicatissimi duo, qui ut animal noluisse erroribus. Ea eum veniam audire. Dicant vituperata consequuntur.</p>
											</div>
										</div>
									</div><!--end .panel -->
									<div class="card panel">
										<div class="card-head card-head-sm collapsed" data-toggle="collapse" data-parent="#accordion2" data-target="#accordion2-2" aria-expanded="false">
											<header>Spring 2014 ACCT 3220-2 Corporate Financial Reporting 1</header>
											<div class="tools">
												<a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
											</div>
										</div>
										<div id="accordion2-2" class="collapse" aria-expanded="false" style="height: 0px;">
											<div class="card-body"><p>Per at postea mediocritatem, vim numquam aliquid eu, in nam sale gubergren. Fuisset delicatissimi duo, qui ut animal noluisse erroribus. Ea eum veniam audire. Dicant vituperata consequuntur.</p>
											</div>
										</div>
									</div><!--end .panel -->
									<div class="card panel">
										<div class="card-head card-head-sm collapsed" data-toggle="collapse" data-parent="#accordion3" data-target="#accordion3-3" aria-expanded="false">
											<header>Header</header>
											<div class="tools">
												<a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
											</div>
										</div>
										<div id="accordion3-3" class="collapse" aria-expanded="false" style="height: 0px;">
											<div class="card-body"><p>Duo semper accumsan ea, quidam convenire cum cu, oportere maiestatis incorrupte est eu. Soluta audiam timeam ius te, idque gubergren forensibus ad mel, persius urbanitas usu id. Civibus nostrum fabellas mea te, ne pri lucilius iudicabit. Ut cibo semper vituperatoribus vix, cum in error elitr. Vix molestiae intellegat omittantur an, nam cu modo ullum scriptorem.</p>
												<p>Quod option numquam vel in, et fuisset delicatissimi duo, qui ut animal noluisse erroribus. Ea eum veniam audire. Per at postea mediocritatem, vim numquam aliquid eu, in nam sale gubergren. Dicant vituperata consequuntur at sea, mazim commodo</p>
											</div>
										</div>
									</div><!--end .panel -->
								</div>
								</div><!--end .card-body -->
						</div><!--end .col -->
						<!-- END FCQS -->
					</div><!--end .row -->
				</div><!--end .section-body -->
			</section>
		</div><!--end #content-->
		<!-- END CONTENT -->

		<!-- BEGIN MENUBAR-->
		<div id="menubar" class="menubar-inverse ">
			<div class="menubar-fixed-panel">
				<div>
					<a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
						<i class="fa fa-bars"></i>
					</a>
				</div>
				<div class="expanded">
					<a href="../../html/dashboards/dashboard.html">
						<span class="text-lg text-bold text-primary ">MATERIAL&nbsp;ADMIN</span>
					</a>
				</div>
			</div>
			<div class="menubar-scroll-panel">

				<!-- BEGIN MAIN MENU -->
				<ul id="main-menu" class="gui-controls">

					<!-- BEGIN DASHBOARD -->
					<li>
						<a href="../../html/dashboards/dashboard.html" class="active">
							<div class="gui-icon"><i class="md md-home"></i></div>
							<span class="title">Dashboard</span>
						</a>
					</li><!--end /menu-li -->
					<!-- END DASHBOARD -->

					<!-- BEGIN EMAIL -->
					<li class="gui-folder">
						<a>
							<div class="gui-icon"><i class="md md-email"></i></div>
							<span class="title">Email</span>
						</a>
					</li><!--end /menu-li -->
					<!-- END EMAIL -->

					<!-- BEGIN DASHBOARD -->
					<li>
						<a href="../../html/layouts/builder.html" >
							<div class="gui-icon"><i class="md md-web"></i></div>
							<span class="title">Layouts</span>
						</a>
					</li><!--end /menu-li -->
					<!-- END DASHBOARD -->

					<!-- BEGIN UI -->
					<li class="gui-folder">
						<a>
							<div class="gui-icon"><i class="fa fa-puzzle-piece fa-fw"></i></div>
							<span class="title">UI elements</span>
						</a>
					</li><!--end /menu-li -->
					<!-- END UI -->

					<!-- BEGIN TABLES -->
					<li class="gui-folder">
						<a>
							<div class="gui-icon"><i class="fa fa-table"></i></div>
							<span class="title">Tables</span>
						</a>
					</li><!--end /menu-li -->
					<!-- END TABLES -->

					<!-- BEGIN FORMS -->
					<li class="gui-folder">
						<a>
							<div class="gui-icon"><span class="glyphicon glyphicon-list-alt"></span></div>
							<span class="title">Forms</span>
						</a>
					</li><!--end /menu-li -->
					<!-- END FORMS -->

					<!-- BEGIN PAGES -->
					<li class="gui-folder">
						<a>
							<div class="gui-icon"><i class="md md-computer"></i></div>
							<span class="title">Pages</span>
						</a>
					</li><!--end /menu-li -->
					<!-- END FORMS -->

					<!-- BEGIN CHARTS -->
					<li>
						<a>
							<div class="gui-icon"><i class="md md-assessment"></i></div>
							<span class="title">Charts</span>
						</a>
					</li><!--end /menu-li -->
					<!-- END CHARTS -->

					<!-- BEGIN LEVELS -->
					<li class="gui-folder">
						<a>
							<div class="gui-icon"><i class="fa fa-folder-open fa-fw"></i></div>
							<span class="title">Menu levels demo</span>
						</a>
						<!--start submenu -->
						<ul>
							<li><a href="#"><span class="title">Item 1</span></a></li>
							<li><a href="#"><span class="title">Item 1</span></a></li>
							<li class="gui-folder">
								<a href="javascript:void(0);">
									<span class="title">Open level 2</span>
								</a>
								<!--start submenu -->
								<ul>
									<li><a href="#"><span class="title">Item 2</span></a></li>
									<li class="gui-folder">
										<a href="javascript:void(0);">
											<span class="title">Open level 3</span>
										</a>
										<!--start submenu -->
										<ul>
											<li><a href="#"><span class="title">Item 3</span></a></li>
											<li><a href="#"><span class="title">Item 3</span></a></li>
											<li class="gui-folder">
												<a href="javascript:void(0);">
													<span class="title">Open level 4</span>
												</a>
												<!--start submenu -->
												<ul>
													<li><a href="#"><span class="title">Item 4</span></a></li>
													<li class="gui-folder">
														<a href="javascript:void(0);">
															<span class="title">Open level 5</span>
														</a>
														<!--start submenu -->
														<ul>
															<li><a href="#"><span class="title">Item 5</span></a></li>
															<li><a href="#"><span class="title">Item 5</span></a></li>
														</ul><!--end /submenu -->
													</li><!--end /submenu-li -->
												</ul><!--end /submenu -->
											</li><!--end /submenu-li -->
										</ul><!--end /submenu -->
									</li><!--end /submenu-li -->
								</ul><!--end /submenu -->
							</li><!--end /submenu-li -->
						</ul><!--end /submenu -->
					</li><!--end /menu-li -->
					<!-- END LEVELS -->

				</ul><!--end .main-menu -->
				<!-- END MAIN MENU -->

				<div class="menubar-foot-panel">
					<small class="no-linebreak hidden-folded">
						<span class="opacity-75">Copyright &copy; 2014</span> <strong>CodeCovers</strong>
					</small>
				</div>
			</div><!--end .menubar-scroll-panel-->
		</div><!--end #menubar-->
		<!-- END MENUBAR -->

		<!-- BEGIN OFFCANVAS RIGHT -->
		<div class="offcanvas">

			<!-- BEGIN OFFCANVAS SCQ -->
			<div id="offcanvas-search" class="offcanvas-pane width-12">
				<div class="offcanvas-head">
					<header class="text-primary">Custom SCQ CAN GO HERE</header>
					<div class="offcanvas-tools">
						<a class="btn btn-icon-toggle btn-default-light pull-right" data-dismiss="offcanvas">
							<i class="md md-close"></i>
						</a>
					</div>
				</div>
			</div><!--end .offcanvas-pane -->
			<!-- END OFFCANVAS SCQ -->
		</div><!--end .offcanvas-->
		<!-- END OFFCANVAS RIGHT -->

	</div><!--end #base-->
	<!-- END BASE -->

	<!-- BEGIN JAVASCRIPT -->
	<script src="/static/js/libs/jquery/jquery-1.11.2.min.js"></script>
	<script src="/static/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
	<script src="/static/js/libs/bootstrap/bootstrap.min.js"></script>
	<script src="/static/js/libs/spin.js/spin.min.js"></script>
	<script src="/static/js/libs/autosize/jquery.autosize.min.js"></script>
	<script src="/static/js/libs/moment/moment.min.js"></script>
	<script src="/static/js/libs/flot/jquery.flot.min.js"></script>
	<script src="/static/js/libs/flot/jquery.flot.time.min.js"></script>
	<script src="/static/js/libs/flot/jquery.flot.resize.min.js"></script>
	<script src="/static/js/libs/flot/jquery.flot.orderBars.js"></script>
	<script src="/static/js/libs/flot/jquery.flot.pie.js"></script>
	<script src="/static/js/libs/flot/curvedLines.js"></script>
	<script src="/static/js/libs/jquery-knob/jquery.knob.min.js"></script>
	<script src="/static/js/libs/sparkline/jquery.sparkline.min.js"></script>
	<script src="/static/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
	<script src="/static/js/libs/d3/d3.min.js"></script>
	<script src="/static/js/libs/d3/d3.v3.js"></script>
	<script src="/static/js/core/source/App.js"></script>
	<script src="/static/js/core/source/AppNavigation.js"></script>
	<script src="/static/js/core/source/AppOffcanvas.js"></script>
	<script src="/static/js/core/source/AppCard.js"></script>
	<script src="/static/js/core/source/AppForm.js"></script>
	<script src="/static/js/core/source/AppNavSearch.js"></script>
	<script src="/static/js/core/source/AppVendor.js"></script>
	<script src="/static/js/core/source/Scq.js"></script>
	<!-- END JAVASCRIPT -->

</body>
</html>