					<script>
					  (function() {
					    var cx = '007259623450066808918:8qwutgcg2dg';
					    var gcse = document.createElement('script');
					    gcse.type = 'text/javascript';
					    gcse.async = true;
					    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
					        '//cse.google.com/cse.js?cx=' + cx;
					    var s = document.getElementsByTagName('script')[0];
					    s.parentNode.insertBefore(gcse, s);
					  })();
					</script>
					<gcse:search></gcse:search>

<div style="width:0px;overflow:hidden;height:0px;"> <!-- if you use display:none here, it doesn't work-->
    <gcse:search></gcse:search>
</div>
<form class="navbar-search" id="searchbox_007259623450066808918:8qwutgcg2dg" action="">
	            <div class="form-group">

    <input value="007259623450066808918:8qwutgcg2dg" name="cx" type="hidden"/>
    <input value="FORID:11" name="cof" type="hidden"/>
    <input id="q" style="" name="q" size="75" type="text"/>
            <button class="btn btn-icon-toggle ink-reaction"><i class="fa fa-search"></i></button>
    </div>
</form>


