<header>
  <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">CU FCQ</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/instructors">Instructors</a></li>
          <li><a href="/courses">Courses</a></li>
          <li><a href="/departments">Departments</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/ratemybuffs">RateMyBuffs</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/instructors">Instructors</a></li>
          <li><a href="/courses">Courses</a></li>
          <li><a href="/departments">Departments</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/ratemybuffs">RateMyBuffs</a></li>
        </ul>
      </div>
    </nav>
</header>
