<script src="/static/js/libs/jquery/jquery-2.2.2.min.js"></script>
<script src="/static/js/libs/materialize/materialize.min.js"></script>
<script src="/static/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
<script src="/static/js/libs/bootstrap/bootstrap.min.js"></script>
<script src="/static/js/libs/spin.js/spin.min.js"></script>
<script src="/static/js/libs/autosize/jquery.autosize.min.js"></script>
<script src="/static/js/libs/d3/d3.v3.js"></script>
<script src="/static/js/libs/jquery-knob/jquery.knob.min.js"></script>
<script src="/static/js/libs/sparkline/jquery.sparkline.min.js"></script>
<script src="/static/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
<script src="/static/js/core/source/App.js"></script>
<script src="/static/js/core/source/AppNavigation.js"></script>
<script src="/static/js/core/source/AppOffcanvas.js"></script>
<script src="/static/js/core/source/AppCard.js"></script>
<script src="/static/js/core/source/AppForm.js"></script>
<script src="/static/js/core/source/AppNavSearch.js"></script>
<script src="/static/js/core/source/AppVendor.js"></script>
<script src="/static/js/core/source/Scq.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-60692178-1', 'auto');
    ga('send', 'pageview');

</script>
