<!-- BEGIN OFFCANVAS RIGHT -->
<div class="offcanvas">
	<!-- BEGIN OFFCANVAS SCQ -->
	<div id="offcanvas-scq" class="offcanvas-pane width-12">
		<div class="offcanvas-head">
			<header class="text-primary">Custom SCQ CAN GO HERE</header>
			<div class="offcanvas-tools">
				<a class="btn btn-icon-toggle btn-default-light pull-right" data-dismiss="offcanvas">
					<i class="md md-close"></i>
				</a>
			</div>
		</div>
	</div><!--end .offcanvas-pane -->
	<!-- END OFFCANVAS SCQ -->
</div><!--end .offcanvas-->
<!-- END OFFCANVAS RIGHT -->