<!-- BEGIN MENUBAR-->
<div id="menubar" class="menubar-inverse ">
	<div class="menubar-fixed-panel">
		<div>
			<a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
				<i class="fa fa-bars"></i>
			</a>
		</div>
		<div class="expanded">
			<a href="../../html/dashboards/dashboard.html">
				<span class="text-lg text-bold text-primary ">MATERIAL&nbsp;ADMIN</span>
			</a>
		</div>
	</div>
	<div class="menubar-scroll-panel">

		<!-- BEGIN MAIN MENU -->
		<ul id="main-menu" class="gui-controls">

			<!-- BEGIN DASHBOARD -->
			<li>
				<a href="../../html/dashboards/dashboard.html" class="active">
					<div class="gui-icon"><i class="md md-home"></i></div>
					<span class="title">Dashboard</span>
				</a>
			</li><!--end /menu-li -->
			<!-- END DASHBOARD -->

			<!-- BEGIN EMAIL -->
			<li>
				<a>
					<div class="gui-icon"><i class="md md-email"></i></div>
					<span class="title">Instructors</span>
				</a>
			</li><!--end /menu-li -->
			<!-- END EMAIL -->

			<!-- BEGIN DASHBOARD -->
			<li>
				<a href="../../html/layouts/builder.html" >
					<div class="gui-icon"><i class="md md-web"></i></div>
					<span class="title">Courses</span>
				</a>
			</li><!--end /menu-li -->
			<!-- END DASHBOARD -->

			<!-- BEGIN UI -->
			<li>
				<a>
					<div class="gui-icon"><i class="fa fa-puzzle-piece fa-fw"></i></div>
					<span class="title">Departments</span>
				</a>
			</li><!--end /menu-li -->
			<!-- END UI -->

			<!-- BEGIN LEVELS -->
			<li class="gui-folder">
				<a>
					<div class="gui-icon"><i class="fa fa-folder-open fa-fw"></i></div>
					<span class="title">Campuses</span>
				</a>
				<!--start submenu -->
				<ul>
					<li><a href="#"><span class="title">CU Boulder</span></a></li>
					<li><a href="#"><span class="title">CU CS</span></a></li>
					<li><a href="#"><span class="title">CU Denver</span></a></li>
				</ul><!--end /submenu -->
			</li><!--end /menu-li -->
			<!-- END LEVELS -->
		</ul><!--end .main-menu -->
		<!-- END MAIN MENU -->
	</div><!--end .menubar-scroll-panel-->
</div><!--end #menubar-->
<!-- END MENUBAR -->