<body class="menubar-hoverable header-fixed ">
	<div id="menubar" class="menubar-inverse  animate">
		<div class="menubar-fixed-panel">
			<div>
				<a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
					<i class="fa fa-bars"></i>
				</a>
			</div>
		</div>
		<div class="nano has-scrollbar" style="height: 230px;">
			<div class="nano-content" tabindex="0" style="right: -15px;">
				<div class="menubar-scroll-panel" style="padding-bottom: 55px;">
				<!-- See icons here: http://zavoloklom.github.io/material-design-iconic-font/v1/ -->
				<!-- BEGIN MAIN MENU -->
				<ul id="main-menu" class="gui-controls">
					<!-- BEGIN HOME -->
					<li>
					<a class="active">
						<div class="gui-icon gui-{{color}}"><i class="md md-home"></i></div>
						<span class="title">Home</span>
					</a>
					</li><!--end /menu-li -->
					<!-- END HOME -->
					<!-- BEGIN INTRUCTORS-->
					<li>
						<a>
							<div class="gui-icon"><i class="md md-person"></i></div>
							<span class="title">About</span>
						</a>
					</li><!--end /menu-li -->
					<!-- END INSTRUCTORS -->
					<!-- BEGIN COURSES -->
					<li>
						<a href="../../html/layouts/builder.html" >
							<div class="gui-icon"><i class="md md-school"></i></div>
							<span class="title">Code</span>
						</a>
					</li><!--end /menu-li -->
					<!-- END COURSES -->
					<!-- BEGIN DEPARTMENTS -->
					<li>
						<a>
							<div class="gui-icon"><i class="md md-people"></i></div>
							<span class="title">Data Source</span>
						</a>
					</li><!--end /menu-li -->
					<!-- END DEPARTMENTS -->
					<!-- BEGIN CAMPUSES -->
					<li class="gui-folder">
						<a>
							<div class="gui-icon"><i class=" md md-account-balance"></i></div>
							<span class="title">Campuses</span>
						</a>
						<!--start submenu -->
						<ul>
							<li><a href="#"><span class="title">CU Boulder</span></a></li>
							<li><a href="#"><span class="title">CU CS</span></a></li>
							<li><a href="#"><span class="title">CU Denver</span></a></li>
						</ul><!--end /submenu -->
					</li><!--end /menu-li -->
					<!-- END  CAMPUSES -->
				</ul><!--end .main-menu -->
				<!-- END MAIN MENU -->
				</div>
			</div>
		<div class="nano-pane" style="display: block;">
		<div class="nano-slider" style="height: 92px; transform: translate(0px, 0px);"></div>
		</div>
		</div><!--end .menubar-scroll-panel-->
	</div>
</body>
