<link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css" />
<link type="text/css" rel="stylesheet" href="/static/css/materialadmin.css" />
<link type="text/css" rel="stylesheet" href="/static/css/font-awesome.min.css" />
<link type="text/css" rel="stylesheet" href="/static/css/material-design-iconic-font.min.css" />
<script>
  (function() {
    var cx = '007259623450066808918:8qwutgcg2dg';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<link type="text/css" rel="stylesheet" href="/static/css/custom.css" />
<link type="text/css" rel="stylesheet" href="/static/css/instructor/instructor-data.css" />
