<!-- BEGIN TOPBAR-->
<header id="header" >
  <div class="headerbar">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="headerbar-left">
      <ul class="header-nav header-nav-options">
        <li class="header-nav-brand" >
          <div class="brand-holder">
              <span class="text-lg text-bold gui-{{ color }}">CU FCQ</span>
            </a>
          </div>
        </li>
        <li>
          <a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
            <i class="fa fa-bars gui-{{ color }}"></i>
          </a>
        </li>
      </ul>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="headerbar-right">
      <ul class="header-nav header-nav-options">
          {% include GoogleSearch.html %}
      </ul><!--end .header-nav-options -->
    </div><!--end #header-navbar-collapse -->
  </div>
</header>
<!-- END TOP BAR-->
